@import url('https://fonts.googleapis.com/css?family=Bitter|Orbitron|Righteous|Exo|Mogra|Tangerine|Acme|OpenSans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$pColor: white;
$pFont: Acme, serif;

* {box-sizing: border-box;}
a {text-decoration: none; color: white;}
i {color: white;}
button {background: #4162a8;border-top: 1px solid #38538c;border-right: 1px solid #1f2d4d;border-bottom: 1px solid #151e33;border-left: 1px solid #1f2d4d;border-radius: 4px;-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;color: #fff;margin: 1vw;font-family: $pFont; font-size: 1.5vw;text-align: center;text-shadow: 0 -1px 1px #1e2d4d;-webkit-background-clip: padding-box;}
button:hover {-webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;cursor: pointer;}
button:active {-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;margin-top: 5px; }
table {margin: 0 auto; border: solid 5px black; border-radius: 10px;}
td {background-color: black; width: 2vw; height: 2vw}
.tdCtrl {background-color: lightgrey; height: 2.5vw; font-family: $pFont; font-size: 2vw}
#generation {text-align: left;}
#population {text-align: right;}
body {margin: 0 auto; padding: 1vw; background-color: #515A5A;}
.main {width: 98%; height: 95%; background-color: white; padding: 1vw;}
.empty {background-color: lightgrey;}
.live {background-color: lime;}
.ctrlPanel {margin: 0 auto; width: 45vw; background-color: lightgrey; padding: 1vw; border: solid 1px black;border-radius: 10px;}
#highScore {text-align: center; font-family: $pFont; font-size: 1.5vw;}
.btnBar {text-align: center;}
#speedBar {text-align: center; font-family: $pFont; font-size: 1.5vw;}
.footer {position: fixed; bottom: 5px; width: 100%; height: auto; margin-top: 40px; text-align: center; font-family: $pFont;  font-size: calc(40% + .5vw);}
